@model ReviewsSite.Models.Category
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <p>@Model.Name</p>
    @foreach (var review in Model.Reviews)
    {
        <section class="Links">
            <a href="/Home/Details/@review.Id">
                @review.Name
            </a>
        </section>
    }
</body>
</html>
